.gun-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    color: #fff;
    position: relative;
}
.guns{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.grand{
    display: flex;
    justify-content: space-between;
}
.added-guns {
    position: fixed;
    top: 80px;
    margin-left: 1100px;
}

/* media  */
@media screen and (max-width: 1400px) {
    .guns{
        grid-template-columns: repeat(3,1fr);
    }
    .added-guns{
        margin-left: 900px;
    }
  }
@media screen and (max-width: 1200px) {
    .added-guns{
        margin-left: 800px;
        
    }
  }
@media screen and (max-width: 800px) {
    .guns{
        grid-template-columns: repeat(2,1fr);
    }
    .added-guns{
        margin-left: 550px;
        
    }
  }